*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/captures
.externalNativeBuild

/app/src/androidTest/resources/mock
/app/src/test/resources/mock
/app/src/debug/assets/mock
